@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./reset.css";

/* loaders */
.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #22c55e transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Small loader */
.loader-sm {
  width: 16px; /* 48px / 3 */
  height: 16px; /* 48px / 3 */
  border: 1px solid #fff; /* 3px / 3 */
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader-sm::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 18.67px; /* 56px / 3 */
  height: 18.67px; /* 56px / 3 */
  border-radius: 50%;
  border: 1px solid; /* 3px / 3 */
  border-color: #22c55e transparent;
}

/* text colors based on status */

.pending {
  color: #eab308;
}

.approved {
  color: #22c55e;
}
.rejected {
  color: #ef4444;
}
